.page-hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    position: relative;
    margin-bottom: 20px;
    .hero-title {
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #000;
        color: #fff;
        z-index: 9999;
    }
    .hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.about-hero {
        height: 400px;
    }
}
.page-intro {
    font-size: 1.5em;
    line-height: 1.2em;
}
