.margin-top {
  margin-top: 65px;
}
.main-content {
    padding-top: 50px;
    padding-bottom: 40px;
}
@media (min-width: 992px) {
    .main-content {
        padding-top: 70px;
    }
}
.m-v-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
