ul.e2s-wide-list-section {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
        width: 100%;
    }
    .es2-wide-list-section-header {
        width: 90%;
        left: 5%;
        position: relative;
    }
}
@media (min-width: 992px) {
    ul.e2s-wide-list-section {
        display: flex;
        flex-wrap: wrap;
        h3 {
            font-size: 26px;
        }
        li {
            flex: 1 0 33%;
            padding: 2px;
        }

        p {
            min-height: 330px;
        }
        @supports (display: grid) {
            &.calendar-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}
